# Scraping VeloGames

In [1]:
import pandas as pd

## Get Rider list

In [7]:
url = 'https://www.velogames.com/italy/2019/riders.php'
rider_list = pd.read_html(url)[0]

### clean data

In [8]:
rider_list = rider_list[['Rider', 'Team', 'Class', 'Points', 'Cost']]

In [9]:
rider_list.columns = [x.lower() for x in rider_list.columns]

In [10]:
rider_list.head()

,rider,team,class,points,cost
0,Primož Roglič,Team Jumbo-Visma,All Rounder,0,24
1,Simon Yates,Mitchelton-Scott,Climber,0,22
2,Tom Dumoulin,Team Sunweb,All Rounder,0,22
3,Vincenzo Nibali,Bahrain Merida Pro Cycling Team,All Rounder,0,18
4,Miguel Angel López,Astana Pro Team,All Rounder,0,16

In [11]:
rider_list.to_pickle('vg_riderlist.pkl')